<header>
  <section>
  <h2>Project Manager</h2>
    <nav class="navbar">
      <a routerLink="\" class="logo">{{ appTitle }}</a>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/">Add Project</a>
        </li>
        <li>
          <a routerLink="/about">Add Task</a>
        </li>
        <li>
          <a routerLink="/users">Add User</a>
        </li>
        <li>
          <a routerLink="/contact">View Task</a>
        </li>
      </ul>
    </nav>
  </section>
</header>