section {
    max-width: 800px;
    margin-top: 40px;
    margin-right: 10px;
}
.task-form input[type="text"],
.task-form input[type="date"] {
    width: 100%;
}
.task-form label {
    text-align: left;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.button-group button:first-of-type{
  margin-left: 0;
}

.button-group button:last-of-type{
  margin-right: 0;
}



button.search-button,
input.cta {
    width: 100%;
    margin: 2px 2px;
}

.cta-group {
    padding-left: 0;
    padding-right: 0;
}

.font-bold {
    font-weight: bold;
}

form {
    margin-left: 20px;
}

input[type="date"] {
    width: 100%;
}

.project-list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.search-sort-bar {
    margin: 20px 0;
    margin-left: 20px;
}

div.search-sort-bar input {
    width: 100%;
}

.user-list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




