section {
    max-width: 1000px;
    margin-top: 40px;
    margin-right: 10px;
}
.project-form input[type="text"],
.project-form input[type="date"] {
    width: 100%;
}
.project-form label {
    text-align: left;
}

.cta-group {
    text-align: right;
}
input.cta,
button.cta {
    width: 100px;
    margin: 2px;
    vertical-align: center;
}
.font-bold {
    font-weight: bold;
}

form {
    margin-left: 40px;
}

div.search-sort-bar {
    margin: 20px 0;
    margin-left: 40px;
}

div.search-sort-bar input {
    width: 100%;
}

div.sort-bar {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

div.sort-bar * {
    margin: 0 5px;
}


span.italic {
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
}
input[type="date"]:before {
    content: attr(placeholder);
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

.project-list-item-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
}

.project-list-item-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
}

.project-list-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.user-list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

