<section>
    <form class="form-horizontal" [formGroup]="projectAddForm" (ngSubmit)="onSubmit()">
      <!-- <h5 *ngIf="success">Your form is valid!</h5>  -->
  
      <div class="form-group row project-form">
          <label class="control-label col-sm-2">
              Project: 
        </label>
        <div class="col-sm-10"> 
            <input type="text" formControlName="project">
            <!-- <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
              <div *ngIf="messageForm.controls.name.errors.required">Your name is required!!</div>
            </div> -->
        </div>
      </div>
      <div class="form-group row project-form">
        <div class="offset-sm-2 col-sm-4"> 
                <input type="checkbox" formControlName="dateInputEnabled" (click)="enableDateInputs()">&nbsp;
                <label>Set Start and End Date</label>
          <!-- <input type="checkbox" [(ngModel)]="dateInputEnabled" [ngModelOptions]="{standalone: true}">Set Start and End Date -->
          <!-- <span><input type="checkbox" formControlName="dateInputEnabled" (click)="enableDateInputs()"></span>
        </div><div class="col-sm-2"> 
            <span>Set Start and End Date</span> -->
          </div>
        <div class="col-sm-3"> 
          <input type="date" placeholder="Start Date :" formControlName="startDate">
        </div>
        <div class="col-sm-3"> 
          <input type="date"  placeholder="End Date :" formControlName="endDate">
        </div>
        <div>
            <!-- <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
              <div *ngIf="messageForm.controls.name.errors.required">Your name is required!!</div>
            </div> -->
        </div>
      </div>
      <div class="form-group row project-form">
          <label class="control-label col-sm-2">
              Priority: 
        </label>
        <div class="col-sm-10"> 
          <input type="range" class="custom-range" formControlName="priority" value="0" min="0" max="30">
          <label>{{ projectAddForm.get('priority').value  }}</label>
        <!-- <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
            <div *ngIf="messageForm.controls.message.errors.required">A message is required!!</div>
        </div> -->
        </div>
      </div>
  
      <div class="form-group row project-form">
          <label class="control-label col-sm-2">
              Manger: 
        </label>
        <div class="col-sm-7"> 
            <input type="text" formControlName="managerName">
        </div>
        <div class="col-sm-3 cta-group">
            <button type="button" class="cta" data-toggle="modal" data-target="#exampleModalLong">Search</button>
        <!-- <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
            <div *ngIf="messageForm.controls.message.errors.required">A message is required!!</div>
        </div> -->
        </div>
      </div>
      
      <!-- <div class="form-group row project-form">
          <label class="control-label col-sm-2">
            Employee ID:
          </label>
          <div class="col-sm-10"> 
            <input type="text" formControlName="employeeId">-->
                <!-- <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                    <div *ngIf="messageForm.controls.message.errors.required">A message is required!!</div>
                </div> 
          </div>
      </div> -->
  
      <div class="cta-group"> 
            <input id="formSubmit" #formSubmit type="submit" value="Add" class="cta">
            <input type="reset" value="Reset" class="cta">
      </div>
    </form>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Select Manager</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="search-sort-bar">
                  <input type="text" placeholder="Search..." (keyup)="searchUsers($event)">
              </div>
              <div class="list-group user-list">
                  <ul *ngIf="searchedUsers">
                    <li class="list-group-item" *ngFor="let user of searchedUsers">
                        <div class="user-list-item">
                            <div class="font-bold">{{user.firstName}} {{user.lastName}}</div>
                            <button class="cta" (click)="selectAsManager(user)">Select</button>
                        </div>
                        <div class="user-list-item">
                            <div class="font-bold">{{user.employeeId}}</div>
                        </div>
                    </li>
                  </ul>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="closeSelectManagerModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div *ngIf="submitted" class="results">
      <strong>Name: </strong>
      <span>{{ messageForm.controls.name.value }}</span>
  
      
      <strong>Message: </strong>
      <span>{{ messageForm.controls.message.value }}</span>
    </div> -->
  
    <div class="search-sort-bar">
        <div>
          <input type="text" placeholder="Search..." (keyup)="searchProjects($event)">
        </div>
        <div  class="sort-bar">
          <span class="italic">
            Sort:
          </span>
          <button class="cta" (click)="sort('startDate')">Start Date</button>
          <button class="cta" (click)="sort('endDate')">End Date</button>
          <button class="cta" (click)="sort('priority')">Priority</button>
          <button class="cta" (click)="sort('status')">Completed</button>
        </div>
    </div>
    <div class="list-group">
      <ul *ngIf="searchedProjects">
        <li class="list-group-item" *ngFor="let project of searchedProjects">
            <div class="row project-list-item-group">
              <div class="col-sm-10 project-list-item">

                  <div class="row">
                    <div class="col-sm-6"><label class="font-bold">Project: </label></div>
                    <div class="col-sm-6"><label>{{project.project}}</label></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2"><label class="font-bold">No of tasks: </label></div>
                    <div class="col-sm-2"><div>{{ getNoOfTasks(project) }}</div></div>
                    <div class="col-sm-2"><label class="font-bold">Completed: </label></div>
                    <div class="col-sm-2"><div>{{ getNoOfCompletedTasks(project) }}</div></div>
                    <div class="col-sm-2"><label class="font-bold">Priority: </label></div>
                    <div class="col-sm-2"><div>{{project.priority}}</div></div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2"><label class="font-bold">Start Date: </label></div>
                    <div class="col-sm-2"><div>{{project.startDate}}</div></div>
                    <div class="col-sm-2"><label class="font-bold">End Date: </label></div>
                    <div class="col-sm-2"><div>{{project.endDate}}</div></div>
                    <div class="col-sm-2"><label class="font-bold">Status: </label></div>
                    <div class="col-sm-2"><div>{{project.status}}</div></div>
                  </div>
                
              </div>

              <div class="col-sm-2 project-list-item">
                <div class="cta-group>"><button class="cta" (click)="update(project)">Update</button></div>
                <div class="cta-group>"><button class="cta" (click)="suspend(project)">Suspend</button></div>
              </div>

          </div>
        </li>
      </ul>
    </div>
  </section>