section {
    max-width: 800px;
}

input.cta {
    width: 100px;
    margin: 2px;
    vertical-align: center;
}
div.font-bold {
    font-weight: bold;
}

.list-item {
    display: flex;
    justify-content: space-between;
}

form {
    margin-left: 40px;
}
