section {
    max-width: 800px;
    margin-top: 40px;
}
.user-form input {
    width: 100%;
}
.user-form label {
    text-align: left;
}

.cta-group {
    text-align: right;
}
input.cta,
button.cta {
    width: 100px;
    margin: 2px;
    vertical-align: center;
}
div.font-bold {
    font-weight: bold;
}

.list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form {
    margin-left: 40px;
}

div.search-bar {
    margin: 20px 0;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

span.italic {
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
    color: #007bff;
}

h2.warning {
    font-size: 1.5 em;
    margin: 40px 40px;
    color: #007bff;
    text-align: center;
}