section {
    max-width: 800px;
    margin-top: 40px;
}
.user-form input {
    width: 100%;
}
.user-form label {
    text-align: left;
}

.cta-group {
    text-align: right;
}


.cta-group button{
    width: 100%;
}

input.cta,
button.cta {
    width: 100px;
    margin: 2px;
    vertical-align: center;
}
div.font-bold {
    font-weight: bold;
}

.list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form {
    margin-left: 20px;
}


div.search-bar > div,
div.search-bar button,
div.search-bar span,
div.search-bar input  {
  width: 100%;
  margin: 10px 15px 5px 0;
}

span.italic {
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
    color: #007bff;
    display: inline-flex;
}

h2.warning {
    font-size: 1.5 em;
    margin: 20px 40px;
    color: #007bff;
    text-align: center;
}