<section>
  <form class="form-horizontal" [formGroup]="userAddForm" (ngSubmit)="onSubmit()">
    <h5 *ngIf="success">Your form is valid!</h5> 

    <div class="form-group row user-form">
        <label class="control-label col-sm-3">
            First Name: 
      </label>
      <div class="col-sm-9"> 
          <input type="text" formControlName="firstName">
          <!-- <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
            <div *ngIf="messageForm.controls.name.errors.required">Your name is required!!</div>
          </div> -->
      </div>
    </div>
    <div class="form-group row user-form">
        <label class="control-label col-sm-3">
            Last Name: 
      </label>
      <div class="col-sm-9"> 
          <input type="text" formControlName="lastName">
              <!-- <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                  <div *ngIf="messageForm.controls.message.errors.required">A message is required!!</div>
              </div> -->
      </div>
    </div>
    
    <div class="form-group row user-form">
        <label class="control-label col-sm-3">
          Employee ID:
        </label>
        <div class="col-sm-9"> 
          <input type="text" formControlName="employeeId">
              <!-- <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                  <div *ngIf="messageForm.controls.message.errors.required">A message is required!!</div>
              </div> -->
        </div>
    </div>
    <div class="cta-group"> 
          <input #formSubmit type="submit" value="Add" class="cta">
          <input type="reset" value="Reset" class="cta">
    </div>
  </form>


  <!-- <div *ngIf="submitted" class="results">
    <strong>Name: </strong>
    <span>{{ messageForm.controls.name.value }}</span>

    
    <strong>Message: </strong>
    <span>{{ messageForm.controls.message.value }}</span>
  </div> -->

  <div class="search-bar">
      <input type="text" placeholder="Search..." (keyup)="searchUsers($event)">
      <div>
        <span class="italic">
          Sort:
        </span>
        <button class="cta" (click)="sort('firstName')">First Name</button>
        <button class="cta" (click)="sort('lastName')">Last Name</button>
        <button class="cta" (click)="sort('employeeId')">Id</button>
      </div>
  </div>
  <div class="list-group">
    <ul *ngIf="searchedUsers">
      <li class="list-group-item" *ngFor="let user of searchedUsers">
          <div class="list-item">
              <div class="font-bold">{{user.firstName}} {{user.lastName}}</div>
              <button class="cta" (click)="update(user)">Edit</button>
          </div>
          <div class="list-item">
              <div class="font-bold">{{user.employeeId}}</div>
              <button class="cta" (click)="delete(user)">Delete</button>
          </div>
      </li>
    </ul>
  </div>
</section>