<h1>Contact Us!</h1>
<form class="form-horizontal" [formGroup]="userAddForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success">Your form is valid!</h5> 

  <div class="form-group">
    <label class="control-label col-sm-2">
        First Name: 
    </label>
    <div class="col-sm-10">
        <input type="text" formControlName="firstName">
        <!-- <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
          <div *ngIf="messageForm.controls.name.errors.required">Your name is required!!</div>
        </div> -->
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
        Last Name: 
    </label>
    <div class="col-sm-10"> 
        <input type="text" formControlName="lastName">
            <!-- <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                <div *ngIf="messageForm.controls.message.errors.required">A message is required!!</div>
            </div> -->
    </div>
  </div>
  
  <div class="form-group">
      <label class="control-label col-sm-2">
        Employee ID:
      </label>
      <div class="col-sm-10"> 
        <input type="text" class="small" formControlName="employeeId">
            <!-- <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                <div *ngIf="messageForm.controls.message.errors.required">A message is required!!</div>
            </div> -->
      </div>
  </div>
  <div class="form-group"> 
      <div class="col-sm-offset-4 col-sm-8 cta-group">
        <input type="submit" value="Add" class="cta">
        <input type="reset" value="Reset" class="cta">
      </div>
  </div>
</form>


<!-- <div *ngIf="submitted" class="results">
  <strong>Name: </strong>
  <span>{{ messageForm.controls.name.value }}</span>

  
  <strong>Message: </strong>
  <span>{{ messageForm.controls.message.value }}</span>
</div> -->


<ul *ngIf="users">
  <li *ngFor="let user of users">
    <p>{{user.firstName}} {{user.lastName}}</p>
  </li>
</ul>