<section>

    <div class="row search-sort-bar">
        <div class="col-lg-1 w-100"> 
          <label class="control-label">
              Project: 
          </label>
        </div>
        <div class="col-lg-3 w-100"> 
          <input type="text" disabled value="{{ selectedProject.project }}">
        </div>
        <div class="col-lg-2 w-100">
          <button type="button" #searchProjectButton class="search-button" data-toggle="modal" data-target="#projectModal">Search</button>
        </div>

        <div class="col-lg-6  w-100 sort-bar"> 
          <div class="col-lg-1 w-100 sort-icon-holder"> 
              <span class=" w-100 italic">
                Sort:
              </span>
          </div>
          <div class="col-lg-5  w-100 sort-icon-holder"> 
            <button class="cta" (click)="sort('startDate')">Start Date</button>
            <button class="cta" (click)="sort('endDate')">End Date</button>
          </div>
          <div class="col-lg-5  w-100 sort-icon-holder"> 
            <button class="cta" (click)="sort('priority')">Priority</button>
            <button class="cta" (click)="sort('status')">Completed</button>
          </div>
        </div>
    </div>

     <!-- Modal -->
     <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Select Project</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="project-search-bar">
                    <input type="text" placeholder="Search..." (keyup)="searchProjects($event)">
                </div>
                <div class="list-group user-list">
                    <ul *ngIf="searchedProjects">
                      <li class="list-group-item" *ngFor="let project of searchedProjects">
                          <div class="project-list-item">
                              <div class="font-bold">{{ project.project }}</div>
                              <button class="cta" (click)="selectProject(project)">Select</button>
                          </div>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="closeSelectProjectModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    <h4 *ngIf="!selectedProject.projectId" class="info">
      Please select a project to view tasks!!
    </h4>

    <div class="list-group">
      <ul *ngIf="allTasks">
        <li class="list-group-item" *ngFor="let task of allTasks">
          
          <div class="row project-list-item-group">

            <div class="col-md-5 project-list-item">
              <div class="row">
                <div class="col-md-6 project-list-item-column">
                  <label class="font-bold">Task</label>
                  <label>{{task.task}}</label>
                </div>
                <div class="col-md-6 project-list-item-column">
                  <label class="font-bold">Parent</label>
                  <label>{{task.parentTask.parentTask}}</label>
                </div>
              </div>
            </div>

            <div class="col-sm-5 project-list-item">
              <div class="row">
                <div class="col-sm-3 project-list-item-column">
                  <label class="font-bold">Status</label>
                  <label>{{task.status}}</label>
                </div>
                <div class="col-sm-3 project-list-item-column">
                  <label class="font-bold">Priority</label>
                  <label>{{task.priority}}</label>
                </div>
                <div class="col-sm-3 project-list-item-column">
                  <label class="font-bold">Start</label>
                  <label>{{task.startDate}}</label>
                </div>
                <div class="col-sm-3 project-list-item-column">
                  <label class="font-bold">End</label>
                  <label>{{task.endDate}}</label>
                </div>
              </div>
            </div>

            <div class="col-sm-2 button-list">
              <div class="cta-group">
                <button class="cta" (click)="edit(task)">Edit</button>
                <button class="cta" (click)="end(task)">End Task</button>
              </div>
            </div>

          </div>

        </li>
      </ul>
    </div>
  </section>